body {
    font-family: "League Spartan", sans-serif;
    margin: 0;
    padding: 0;
  }
  
  .container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
  }
  
  .title-message, .rating {
    padding: 20px;
  }
  
  h1 {
    color: hsl(300, 43%, 22%);
  }
  
  h6 {
    margin: 0;
  }

  